* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.router-page {
    bottom: 0;
    padding-top: 200px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    background-color: beige;
}

.router-page.slide-left.ng-leave {
    -webkit-animation: slideOutLeft 0.5s both ease-in;
    -moz-animation: slideOutLeft 0.5s both ease-in;
    animation: slideOutLeft 0.5s both ease-in;
}

.router-page.slide-left.ng-enter {
    -webkit-animation: slideInRight 0.5s both ease-in;
    -moz-animation: slideInRight 0.5s both ease-in;
    animation: slideInRight 0.5s both ease-in;
}

/*  */
.router-page.slide-right {
    transition: all 0.5s ease;
    transform: translateX(0%)
}

.router-page.slide-right.ng-leave {
    animation: slideOutRight 0.5s both ease-in;
}

.router-page.slide-right.ng-enter {

    animation: slideInLeft 0.5s both ease-in;
}


/* Animations */

/* slide in from the right */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@-moz-keyframes slideInRight {
    from {
        -moz-transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(0);
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(0);
    }
}

/* slide in from the bottom */




/* slide in from the bottom */
@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
    }
}

@-moz-keyframes slideOutLeft {
    to {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes slideOutLeft {
    to {
        -webkit-transform: translateX(-100%);
    }
}


/****/
@keyframes slideInLeft {
    from {
        transform: translateX(-100%)
    }

    to {
        transform: translateX(0)
    }
}


@keyframes slideOutRight {

    to {
        transform: translateX(100%)
    }
}