<section class="breadcrumb">
    <div>
        {{totalPages}}
        <p>ShowLHalf : {{ showLHalf }}</p>
    </div>
    <h1>{{selectedProduct.name}} / {{ activeIndex }} --- {{ products.length }}</h1>
    <div>
        <a ng-click="clickPrev()">&larr;</a>
        <div class="dot-container" ng-repeat="product in currentPageSegment" ng-click="onDotClick(product)">
            <div class="dot"
                ng-class="{'active': product.id === selectedProduct.id,'dot-rhalf': (showLHalf && $index ===0),'dot-lhalf': (showRHalf && $index ===(perPage-1))}">
                {{product.id}}
            </div>
        </div>
        <a ng-click="clickNext()">&rarr;</a>
    </div>
</section>